<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org"
      xmlns:xsi="http://w3.org">

  <extensions>
    <add assembly="NLog.Targets.Seq" />
  </extensions>

  <targets>
    <!-- Gửi log về Seq -->
    <!--<target name="seq" xsi:type="BufferingWrapper" bufferSize="1">-->
	<target name="seq" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="10000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="qASbtiNx6BrhRdA1zrbH" connectionTimeout="2000" >
         <!-- Gắn nhãn để lọc trên Seq -->
         <property name="ServiceName" value="${configsetting:name=RabbitMqSettings.ServiceName}" />
		 <property name="MachineName" value="${machinename}" />
		 <property name="Application" value="Tên phần mềm" />
	</target>
    </target>

    <!-- Lưu log ra File -->
    <target xsi:type="File" name="fileLog" 
            fileName="C:\Logs\MyWorker\log-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
    
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="seq,fileLog,lifetimeConsole" />
  </rules>
</nlog>
